$background: #000a0c;

// Video And Bacground color //
body {
    font-family: 'Lato', sans-serif;
    background-color: $background;
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(20px);
    
}

// Bedtime text //
.viewport-header {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewport-subtitle {
    position: relative;
    height: 50%;
    text-align: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    text-transform: lowercase;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
    span {
      display: block;
      font-size: 7vw;
    }
} 

h2 {
    color: white;
    text-transform: lowercase;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center center;
    span {
      display: block;
      font-size: 2vw;
    }
} 

// The noise effect thingy //

#cont {
    width: 200px;
    height: 200px;
}
#cont:before {
    content: '';
    object-fit: cover;
    width: 1000vw;
    height: 1000vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../nosie.png);
    background-repeat: repeat;
    opacity: 0.45;
}